:root {
    --border-color: #756f6f;
    --background-color2:var(--secondary-color);
    --background-color3: #fafafa;
    --background-color4: var(--accent-color);
    --background-color5: var(--navbar-color);
    --background-color6: gray;
    --color1: black;
    --border-color1:#756f6f;
  }
body{
    font-family:sans-serif;
}
.bookbtn{
    margin-top:0.3em;
    width:100%;
    padding: 0.5em;
    border-style:none;
    border-radius:0.5em;
    filter: drop-shadow(1px 2px 1px #816f6f);
}
.bookbtn:hover{
    background-color:var(--background-color4)
}

.grid-container {
    display: grid;
    gap: 0px;
    width: 99%;
    height: 90%;
    grid-template-areas: 'head head head head head head head'
    'time building building room room room floor'
    'time building building info info info info';

}

.grid-item {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border: 1px;
    border-width: medium;
    border-color:var(--border-color);
    border-radius:0.5em;
    background-color:#c2b0b0;
    filter: drop-shadow(4px 3px 3px #706060);
}

#header {
    grid-area: head;
}

.box-title {
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: none;
}

.time {
    margin-top: 0.5em;
}

#select-time {
    
    grid-area: time;
    
}

#select-building {
    grid-area: building;
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 1fr 4fr 4fr 4fr 4fr;
    grid-template-columns: 1fr 1fr;
}

#select-room {
    grid-area: room;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

#select-floor {
    grid-area: floor;
}

#selection-info {
    grid-area: info;
}

.building-grid-item {
    margin: 1px;
    width:95%;
    height:95%;
    /* border-style: solid; */
}

.building-btn {
    width: 100%;
    height: 100%;
}

/* .building-btn.available {
    background-color: green;
} */

/* Button Color Classes */
.submit {
    background-color:var(--background-color2)
}
.available {
    background-color:var(--background-color3);
}
.booktbn:hover {
    background-color: var(--background-color4);
}
.selected,
.selected:hover {
    background-color: var(--background-color5);
    color:white;
}


.unavailable,
.unavailable:hover {
    background-color: var(--background-color6);
    color: var(--color1);
}

#Btitle {
    grid-column-start: 1;
    grid-column-end: 3;
}

.apartment {
    display: grid;
    border-style: solid;
    border-width:2px;
    border-color:var(--border-color1);
    border-radius:0.6em;
    margin:0.2em;
    padding:0.4em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:0.4em;
}

.room {
    /* border-style: solid; */
    /* border-color: gray; */
    padding: 0.2em;
    display: flex;
    flex-wrap: wrap;
    height:95%;
    align-items:center;
}



/* .room.selected {
    background-color: #3b5998
}

.room:hover {
    background-color: #00acee;
}

.room.unavailable {
    background-color: gray;
} */

.floor {
    margin-top: 5px;
}

/* .floor:hover {
    background-color: #5565ff;
} */

.term-row {
    display: grid;
    height: 35px;
    width: 250px;
    vertical-align: middle;
    font-size: 15pt;
    display: inline;
    grid-template-areas:    
    "title"
    "top"
    "mid1"
    "mid2"
    "mid3"
    "bot";
}

label.term-row {
    vertical-align: middle;
    font-size: 15pt;
    display: inline;
}

.term-checkbox {
    padding: 5px;
    width: 35px;
    height: 35px;

}

#termBtn,
#dateBtn{
    width:45%;
}

#find-avail-rooms {
    align-self: end;
}