* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;

}
.navbar {
  background: #393232;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: #4D4545;
  background-image: linear-gradient(to top, #fafafa 0%, #4ac7d8 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
hr.solid {
  border-top: 3px solid #bbb;
}
body{
  background-color: #8D6262;
}
.colorback{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 100%;

}
.signupaccount{
  display: grid;
  background-color: #ED8D8D;
  border-radius: 20px;
  height: 600px;
  width: 65%;
  grid-template-columns: [start] 50% [line1] 50% [end];
  grid-template-areas:
    "title"
    "top1 top2"
    "mid1 mid2"
    "mid3 mid4"
    "mid5 mid6"
    "select1 select2"
    "bot";
}
h3{
  font-size: 16px;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: start / end;
  grid-area: "title";
  margin-top: 50px;
  font-size: 35px;
}
.sName{
  display: flex;
  justify-content: right;
  margin-right: 20px;
  align-items: center;
  grid-area: "top1";
}
.pName{
  display: flex;
  justify-content: left;
  margin-left: 20px;
  align-items: center;
  grid-area: "top2";
}
.sEmail{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  grid-area: "mid1";
}
.pPhone{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  grid-area: "mid2";

}
.sId{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  grid-area: "mid3";
}
.ps{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  grid-area: "mid4";
}
.sPhone{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  grid-area: "mid5";
}
.rps{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  grid-area: "mid6";
}

input{
  width: 250px;
  height: 30px;
}
.pickurgender{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;


  grid-area: "select1";
}
.studyfleid{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  grid-area: "select2";
}
.confirmbut{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: start / end;
  grid-area: "bot";
}
button{
  width: 160px;
  height: 60px;
  font-size: 17px;
}
img{
  width: 150px;
  height: 100px;
}
