
.colorback{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.signupaccount{
  display: grid;
  background-color: var(--colorback-background-color);
  border-radius: 20px;
  width: 65%;
  grid-template-columns: [start] 50% [line1] 50% [end];
  gap:1em;
  grid-template-areas:
    "title title"
    "top1 top2"
    "mid1 mid2"
    "mid3 mid4"
    "mid5 mid6"
    "select1 select2"
    "bot bot";
}
h3{
  font-size: 16px;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: start / end;
  grid-area: title;
  margin-top: 50px;
  font-size: 35px;
}
.sName{
  display: flex;
  justify-content: right;
  margin-right: 20px;
  align-items: center;
  grid-area: "top1";
}
input{
  border-radius: 10px;
}
.pName{
  display: flex;
  justify-content: left;
  margin-left: 20px;
  align-items: center;
  grid-area: "top2";
}
.sEmail{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  grid-area: "mid1";
}
.pPhone{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  grid-area: "mid2";

}
.sId{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  grid-area: "mid3";
}
.ps{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  grid-area: "mid4";
}
.sPhone{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  grid-area: "mid5";
}
.rps{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  grid-area: "mid6";
}

input{
  width: 250px;
  height: 30px;
  padding: 4px 8px;
}
.pickurgender{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;


  grid-area: "select1";
}
.studyfleid{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  grid-area: "select2";
}
.confirmbut{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: start / end;
  grid-area: bot;
  font-size: 17px;
  margin-bottom: 30px;
  margin-top:0.5em;
  border-radius: 20px;
}

#submit{
  border:none;
}
#submit:hover{
  background-color:var(--accent-color)
}

#ai_logo{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 5px;
}
form i {
  margin-left: -30px;
  cursor: pointer;
  margin-top: 15px;
}
.invalid-password,
.invalid-confirm-password {
  border: 2px solid red;
}


