:root {
  --background-color: #8d6262;
  --primary-color: #c9c5cb;
  --navbar-color: #07004d;
  --secondary-color: #A59292;
  --background-color2: #ff8177;
  --text-color: #f8f7f7;
  --logo-gradient-start: #fafafa;
  --logo-gradient-end: #4ac7d8;
  --border-color: #bbb;
  --accent-color: #3324d8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: large;
}

.navbar {
  background: var(--navbar-color);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  font-size: large;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

#navbar__logo {
  background-color: var(--background-color2);
  background-image: linear-gradient(
    to top,
    var(--logo-gradient-start) 0%,
    var(--logo-gradient-end) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  vertical-align: middle;
  margin: left 0.25rem right 0.25em;
}
.navbar__item > * {
  color: var(--text-color);
}

.navbar__links {
  background-color: var(--navbar-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 50px;
  border-style: none;
  transition: ease-in-out 0.1s;
}
.navbar__links:hover {
  background-color: var(--accent-color);
  transition: ease-in-out 0.1s;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
hr.solid {
  border-top: 3px solid var(--border-color);
}
body{
  background-color: var(--background-color);
}
.colorcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--secondary-color);
  margin: 0em 2em;
  border-radius: 20px;
}
.container{
  display: grid;
  grid-gap:0.5em;
  background-color: var(--secondary-color);
  border-radius: 20px;
  width: 40%;
  grid-template-areas:
    "title"
    "top"
    "mid1"
    "mid2"
    "mid3"
    "bot";

  margin-bottom:2em;
}
h3 {
  font-size: 16px;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: title;
  margin-top: 50px;
  font-size: 35px;
}
.id{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: top;
}
input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  padding: 4px 8px;
}
.passwordnum{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: mid1;
}

.otherid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: mid2;
}
.aiuid {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 250px;
}
.googleid {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 250px;
}
button {
  width: 160px;
  height: 50px;
  border-radius: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: bot;
  font-size: 17px;
  gap: 10px;
}
input{
  border-radius: 10px;
  padding: 4px 8px;
}
form i {
  margin-left: -25px;
  cursor: pointer;
}
#ai_logo {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 5px;
}
