<nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo">UniRoom</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
<<<<<<< HEAD:public/views/partials/nav.ejs
                <a href="index" class="navbar__links">
=======
                <a href="index.ejs" class="navbar__links">
>>>>>>> b58f390dea075d7018fa2efe220737c7a90e88c9:public/images/views/partials/nav.ejs
                    Home
                </a>
            </li>
            <li class="navbar__item">
<<<<<<< HEAD:public/views/partials/nav.ejs
                <a href="about" class="navbar__links">
=======
                <a href="About.ejs" class="navbar__links">
>>>>>>> b58f390dea075d7018fa2efe220737c7a90e88c9:public/images/views/partials/nav.ejs
                    About
                </a>
            </li>
            <li class="navbar__btn">
<<<<<<< HEAD:public/views/partials/nav.ejs
                <a href="/Login" class="button">
=======
                <a href="/Login.ejs" class="button">
>>>>>>> b58f390dea075d7018fa2efe220737c7a90e88c9:public/images/views/partials/nav.ejs
                    Sign In
                </a>
            </li>
            <li class="navbar__item">
<<<<<<< HEAD:public/views/partials/nav.ejs
                <a href="booking" class="button">
=======
                <a href="booking.ejs" class="button">
>>>>>>> b58f390dea075d7018fa2efe220737c7a90e88c9:public/images/views/partials/nav.ejs
                  Book a room
                </a>
              </li>
        </ul>
    </div>
</nav>