<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <form action="/Signin" method="post">
    <!-- <div class="container">
        <div class="title">Login</div>
        <div class="id">
            <h3>
                University ID/ Email: <br> -->
                <input type="text" id="inputid" name="inputid" class="signin-input">
            <!-- <h3>
        </div> -->

        <div class="passwordnum">
            <h3>Password: <br>
                <input type="text" id="password" name="pass" class="signin-input">>
                <p><a href="/" class="idk">Forgot Your Password?</a></p>

            </h3>

        </div>

        <div class="button">
            <input type="submit" id="signin">Sign In</input>
            <a href="signup/signup.html" ><button id="signup">Sign Up</button></a>
        </div>
    <!-- </div> -->
</form>

    <script src="Signin.js"></script>
</body>
</html>