<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family:'Times New Roman', Times, serif;

        }
        .navbar {
            background: #393232;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            position: sticky;
            top: 0;
            z-index: 999;
        }

        .navbar__container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            margin-right: auto;
            margin-left: auto;
            padding-right: 50px;
            padding-left: 50px;
        }


        .navbar__menu {
            display: flex;
            align-items: center;
            list-style: none;
            text-align: center;
        }

        .navbar__item {
            height: 80px;
        }

        .navbar__links {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;
            height: 100%;
        }

        .navbar__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            width: 100%;
        }
        hr.solid {
            border-top: 3px solid #bbb;
        }
        body{
            background-color: #8D6262;
        }
        .colorback{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 800px;
            width: 100%;

        }
        .signupaccount{
            display: grid;
            background-color: #ED8D8D;
            border-radius: 20px;
            height: 600px;
            width: 65%;
            grid-template-columns: [start] 50% [line1] 50% [end];
            grid-template-areas:
    "title"
    "top1 top2"
    "mid1 mid2"
    "mid3 mid4"
    "mid5 mid6"
    "select1 select2"
    "bot";
        }
        h3{
            font-size: 16px;
        }
        .title{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: start / end;
            grid-area: title;
            margin-top: 50px;
            font-size: 35px;
        }
        .sName{
            display: flex;
            justify-content: right;
            margin-right: 20px;
            align-items: center;
            grid-area: top1;
        }
        input{
            border-radius: 10px;
        }
        .pName{
            display: flex;
            justify-content: left;
            margin-left: 20px;
            align-items: center;
            grid-area: top2;
        }
        .sEmail{
            display: flex;
            align-items: center;
            justify-content: right;
            margin-right: 20px;
            grid-area: mid1;
        }
        .pPhone{
            display: flex;
            align-items: center;
            justify-content: left;
            margin-left: 20px;
            grid-area: mid2;

        }
        .sId{
            display: flex;
            align-items: center;
            justify-content: right;
            margin-right: 20px;
            grid-area: mid3;
        }
        .ps{
            display: flex;
            align-items: center;
            justify-content: left;
            margin-left: 20px;
            grid-area: mid4;
        }
        .sPhone{
            display: flex;
            align-items: center;
            justify-content: right;
            margin-right: 20px;
            grid-area: mid5;
        }
        .rps{
            display: flex;
            align-items: center;
            justify-content: left;
            margin-left: 20px;
            grid-area: mid6;
        }

        input{
            width: 250px;
            height: 30px;
            padding: 4px 8px;
        }
        .pickurgender{
            display: flex;
            align-items: center;
            justify-content: right;
            margin-right: 20px;
            grid-area: select1;
        }
        .studyfleid{
            display: flex;
            align-items: center;
            justify-content: left;
            margin-left: 20px;
            grid-area: select2;
        }
        .confirmbut{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: start / end;
            grid-area: bot;
        }
        button{
            width: 300px;
            height: 60px;
            font-size: 17px;
            margin-bottom: 30px;
            border-radius: 20px;
        }
        #ai_logo{
            width: 50px;
            height: 50px;
            border-radius: 20px;
            margin-right: 5px;
        }
        form i {
            margin-left: -30px;
            cursor: pointer;
            margin-top: 15px;
        }
        .invalid-password,
        .invalid-confirm-password {
            border: 2px solid rgb(235, 81, 81);
        }

    </style>
    <title>UniRoom - Home</title>
</head>
<body>
<nav class="navbar">
    <div class="navbar__container">
        <img id="uni_logo" src="/UniRoom_white.svg" alt="">
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links">
                    Home
                </a>
            </li>
            <li class="navbar__item">
                <a href="/" class="navbar__links">
                    About
                </a>
            </li>
            <li class="navbar__btn">
                <a href="/" class="button">
                    Sign In
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="colorback">
    <form class="signupaccount" method="post" action="signup_process.php">
        <div class="title"><img src="aiu.jpg" alt="" id="ai_logo">Sign Up to a New Account</div>
        <div class="sName">
            <h3>
                Name: <br>
                <input id="name" type="text" name="name">
            </h3>
        </div>
        <div class="pName"><h3>Parent Name: <br><input id="parentname" type="text" name="parent_name"></h3></div>
        <div class="sEmail"><h3>University Email: <br><input id="email" type="text" name="email_address"></h3></div>
        <div class="pPhone"><h3>Parent Phone Number: <br><input id="phone" type="tel" name="parent_phone_num"></h3></div>
        <div class="sId"><h3>University ID: <br><input id="id" type="number" name="student_id"></h3></div>
        <div class="ps"><h3>Password: <br><input id="password" type="password" name="password"></h3>
            <i class="bi-eye-slash" id="togglePassword"></i>
        </div>
        <div class="sPhone"><h3>Phone Number: <br><input id="sphone" type="text" name="student_phone"></h3></div>
        <div class="rps"><h3>Repeat Password: <br><input id="rpassword" type="password"></h3>
            <i class="bi-eye-slash" id="togglePasswordConfirm"></i>
        </div>
        <div class="pickurgender">
            <label for="languages">Gender: </label>
            <select name="gender" id="languages">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <label for="year">Year of Study: </label>
            <select name="year" id="year">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="six">6</option>
            </select>
        </div>
        <div class="studyfleid">
            <label for="fleid">Field of Study: </label>
            <select name="fleid" id="fleid">
                <option value="cs">Computer Science</option>
                <option value="art">Art</option>
                <option value="ce">Computer Engineer</option>
                <option value="ec">Economy</option>
            </select>
        </div>
        <div class="confirmbut">
            <button id="submit" type="button">Confirm !</button>
        </div>
    </form>
</div>
</body>
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const togglePasswordConfirm = document.querySelector("#togglePasswordConfirm");
    const password = document.querySelector("#password");
    const confirmPassword = document.querySelector("#rpassword");

    togglePassword.addEventListener("click", function () {
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });

    togglePasswordConfirm.addEventListener("click", function () {
        const type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
        confirmPassword.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });

    function checkPassword(password) {
        const hasUpperCase = /[A-Z]/.test(password);
        if (!hasUpperCase) {
            password.classList.add("invalid-password");
        } else {
            password.classList.remove("invalid-password");
        }
        return hasUpperCase;
    }
    password.addEventListener("input", function () {
        checkPassword(password.value);
    });

    let timeout;
    function checkPasswordsMatch(passwordValue, confirmPasswordValue) {
        clearTimeout(timeout);
        if (passwordValue !== confirmPasswordValue) {
            confirmPassword.classList.add("invalid-confirm-password");

            timeout = setTimeout(() => {
                if (passwordValue !== confirmPasswordValue) {
                    alert("Passwords do not match.");
                }
            }, 1000);
        } else {
            confirmPassword.classList.remove("invalid-confirm-password");
        }
        return passwordValue === confirmPasswordValue;
    }


    confirmPassword.addEventListener("input", function () {
        checkPasswordsMatch(password.value, confirmPassword.value);
    });


    const form = document.querySelector("form");
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        const passwordValue = password.value;
        const confirmPasswordValue = confirmPassword.value;
        const isValidPassword = checkPassword(passwordValue);
        const isPasswordsMatch = checkPasswordsMatch(passwordValue, confirmPasswordValue);
        if (isValidPassword && isPasswordsMatch) {
        }
    });
</script>
</html>
